doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Formfailed
    link(rel="stylesheet" href="../static/formsubmittedstyle.css")
  body
    .msg
      h1 OOPS . . . . . .
      h1 There was an error while submitting the form . . .
      h1 Please Try Again ! 
      h1 ! ! ! Thank You ! ! !
