doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title FormSubmitted
    link(rel="stylesheet" href="../static/formsubmittedstyle.css")
  body
    .msg
      h1 FORM SUBMITTED SUCCESSFULLY !!!!
      h1 We will reach you very soon . . . . .
      h1 !!! Thank You !!!
